{% extends "index.html" %}
{% block body %}
<h4 style="text-align:center;color:blue;">
    Login from
</h4>
{% if msg %}
    <p style="text-align:center;">{{msg}}</p>
{% endif %}
<div style="width:60%;margin:0 auto;">
    <form action="{% url 'validate' %}" method="post">
        {% csrf_token %}
        <div class="form-group ">
            <label>Enter User Id</label>
            <input type="text" name="userid" required="true" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Enter Password</label>
            <input type="password" name="password" required="true" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Select User Type</label>
            <select name="usertype" class="form-control">
                <option value="">--Select--</option>
                <option value="normal">Normal</option>
                <option value="team">Administrator</option>
            </select>
        </div>
        <br/>
        <input type="submit" value="Login" class="btn btn-info"/>
    </form>
    <br/>
</div>
{% endblock body %}