{% extends "index.html" %}
{% block body %}
<h4 style="color:blue;text-align:center;">
    Normal registration From
</h4>
    {% if msg %}
    <p style="text-align:center;">{{msg}}</p>
    {% endif %}
<div style="width:60%;margin:0 auto;">
    <form action="{% url 'nreg' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Enter Company Name</label>
            <input type="text" name="name" required="true" class="form-control"/>
        </div>
        
        <div class="form-group">
            <label>Enter Contact Person Name</label>
            <input type="text" name="cpname" class="form-control" required="true"/>
        </div>
        <div class="form-group">
            <label>Enter Contact No</label>
            <input type="number" name="cpcontactno" class="form-control" required="true"/>
        </div>
        <div class="form-group">
            <label>Enter Email Address</label>
            <input type="email" name="cpemailaddress" class="form-control" required="true"/>
        </div>
        
        <div class="form-group">
            <label>Enter GST No</label>
            <input type="text" name="gstno" class="form-control" required="true"/>
        </div>
        <div class="form-group">
            <label>Enter Password</label>
            <input type="password" name="password" class="form-control" required="true"/>
        </div>
        <br/>
        <input type="submit" value="Register" class="btn btn-info"/>
    </form>
    <br/>

</div>
{% endblock body %}